로그인페이지
회원가입성공 후 리다이렉트 장소
{
"success": true,
"data": {
<div>
    <form action="/user/login" method="post">
        <div class="login-id-label">아이디</div>
        <input type="text" name="username" class="login-input-box">

        <div class="login-id-label">비밀번호</div>
        <input type="password" name="password" class="login-input-box">

        <button id="login-id-submit">로그인</button>
    </form>
    <button id="login-id-btn" onclick="location.href='/user/signup'">
        회원 가입하기
    </button>

    "id": 5,
    nickname: <span th:text="${visits}"></span>
    "createdAt": "2022-07-27T23:22:28.702489",
    "modifiedAt": "2022-07-27T23:22:28.702489"
</div>
},
"error": null
}
    
